.orderBlock{
    width: 100%;
    height: 1000px;
    background-color: $second-color;
    &__title{
        padding-top: 80px;
        display: block;
        text-align: center;
        font-family: 'Fredoka', sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 20px;
        color: $main-color;
    }
    &__wrapper{
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        
    }
    &__form{
        padding: 20px 0 20px;
        width: 580px;
        background-color: $third-color;
        border-radius: 20px;
        display: grid;
        grid-template-columns:  280px 280px;
        gap: 20px;
    }
    &__input{
        width: 550px;
        margin: 0 auto;
        background-color: $third-color;
        grid-column: 1 / 3;
        #date{
            width: 545px;
            height: 100%;
            margin: 0 auto;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 30px;
            color: $main-color;
            border-radius: 10px;
        }
        textarea{
            width: 545px;
            height: 160px;
            margin: 0 auto;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 20px;
            border-radius: 10px;
        }
        #name{
            width: 250px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $main-color;

        }
        #email{
            margin-left: 30px;
            width: 250px;
            height: 50px;
            border-radius: 10px;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $main-color;
        }
    }
    &__select{
        width: 550px;
        height: 60px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 500;
        font-size: 24px;
        border-radius: 10px;
    }
    &__policy{
        margin: 0 70px;
        background-color: $third-color;
        span{
            margin: 0 auto;
            background-color: $third-color;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
            font-size: 16px;    
            a{
                background-color: $third-color;
            }
        }
    }
    &__btn{
        margin: 20px auto 0;
        width: 200px;
        height: 40px;
        font-weight: 600;
        font-size: 16px; 
    }
    
    &__description{

    }
    &__subtitle{
        margin-bottom: 30px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 600;
        font-size: 36px; 
        color: $main-color;
        letter-spacing: 1px;
        span{
            text-decoration: underline;
            color: $fourth-color;
        }
    }
    &__info{
        display: flex;
        justify-content: space-evenly;
        &-wrapper{
            width: 200px;
            height: 100px;
            button{
                margin: 20px auto 0;
                width: 200px;
                height: 60px;
                font-weight: 900;
                font-size: 36px;
                sup{
                    background-color: $fourth-color;
                    font-weight: 500;
                    font-size: 20px;
                }
            }
            p{
                padding-top: px;
                text-align: center;
                font-family: 'Fredoka', sans-serif;
                font-weight: 600;
                font-size: 16px; 
                color: $main-color;
            }
        }
    }
}

.btn{
    display: block;
    border: none;
    border-radius: 15px;
    background-color: $fourth-color;
    font-family: 'Fredoka', sans-serif;
}