.sidepanel{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 1;
    top: 230px;
    right: 20px;
    &__link{
        transition: all 0.8s;
        transform: rotate(-90deg);
        &:hover{
            transform: rotate(0deg);
        }
    }
    &__divider{
        width: 2px;
        height: 70px;
        background-color: $main-color;
    }
    &__text{
        font-size: 17px;
        font-weight: bold;
        height: 150px;
        width: 25px;
        color: $main-color;

        span{
            transform: rotate(-90deg) translate(-30%, -320%);
            display: block;
            width: 150px;
        }
    }
}